.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  background-color: rgb(8, 176, 176);
  height: 34px;

  .search-icon {
    color: white;
  }
}

.search-filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(8, 176, 176);
  padding: 4px;

  .input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 4px;
    background-color: lightyellow !important;
    padding-right: 4px;

    .search-input {
      width: 100%;
      margin-left: 4px;
      border: none;
      outline: none;
      background-color: lightyellow;
      color: black;
    }

    button {
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
